---
import { getCollection, type CollectionEntry } from "astro:content";
import H1 from "../../components/H1.astro";
import Main from "../../components/Main.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";

const { slug } = Astro.params;
const post = await getEntryBySlug("posts", slug as string);
if (!post) {
  return Astro.redirect("/404");
}
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Main>
    <H1 text={post.data.title} />
    <Image
      src={post.data.image}
      alt={post.data.title}
      width={1024}
      height={1024 / 1.5}
      class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
    />
    <div class="prose prose-2xl overflow-visible relative mb-20">
      <Content />
    </div>
  </Main>
</Layout>
