---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import H1 from "../components/H1.astro";
---

<Layout title="Rythm Nation Blog">
  <main>
    <H1 text="Rythm Nation" />
  </main>
</Layout>
